@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* scrollbar-gutter: unset !important; */
  color: white;
}

@layer base {
  body {
    // background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

 
.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.skeleton-loading {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
  background-size: 400% 100%;
  background-size: 400% 100%;
  animation-name: loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

  @keyframes loading {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  @-webkit-keyframes loading {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
}
