::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  /* // background: transparent;
  // background: rgb(192, 215, 169) !important; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-resizer {
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  background: transparent !important;
  cursor: pointer;
}